@model RopaMexicana_171G0250_171G0222.Models.MarcaAfiliada

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<h3>Confirma tu cuenta</h3>

<section>
    <p>Hemos enviado una clave de confirmacion de cuenta a tu correo</p>
    <form method="post" asp-controller="Home" asp-action="ActivacionDeCuenta">
        <label>Introducir clave</label>
        <input type="number" required name="clave" /> <br />
        <input type="submit" value="Activar cuenta" />
    </form>
</section>